@model IEnumerable<BDPZespolowy.Models.Stanowisko>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stanowisko_LPracownikow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stanowisko_Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stanowisko_Wypłata)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stanowisko_LPracownikow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stanowisko_Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stanowisko_Wypłata)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
</table>
